{% extends "base.html" %}

{% block title%}All courses{%endblock title%}

{% block content %}
<table class="table mt-5 table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Price</th>
            <th>Student Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for cours in cousers %}
        <tr>
            <td>
            <!--<a href={{ cours.id}}>{{cours.title}}</a> -->
            <!--<a href="/shop/{{ cours.id}}">{{cours.title}}</a> -->
            <!-- <a href={\% url "single_course" cours.id %\}>{{cours.title}}</a>      <!-- # url-url.py  "single_course"-name_path  cours.id-argument -->
            <a href={% url "shop:single_course" cours.id %}>{{cours.title}}</a>      <!-- # url-url.py  "single_course"-name_path  cours.id-argument -->
            </td>
            <td>{{cours.category}}</td>
            <td>{{cours.price}}</td>
            <td>{{cours.student_qty}}</td>
            <td><button class="btn btn-primary">Buy</button></td>
        </tr>
        {% endfor %} 
    </tbody>
</table>
{% endblock  %}